$reset: 0;
$html-font-size: 18px;
$header-height: 22vw;
$headering-top-position: 10vw;
$headering-font-size: 1.4rem;
$headering-width: 100%;
$heading-color: #ffffff;
$arrow-pos-top: 11vw;
$arrow-pos-left: 7vw;
$menu-pos-top: 11vw;
$menu-pos-right: 7vw;
$header-icon-width: 6vw;
$content-min-height: 83vh;
$link-color: #f0712c;
$radio-buttons-color: #39b9de;
$background-content: #ffffff;
$border-color: #a7a9ac;
$footer-min-height: 14vw;
$form-heading-color: #39b9de;
$form-heading-font-size: 1rem;
$form-active-border: #fb8c00;
$text-color: #585a5b;
$status-header-color: #159fc0;
$lines-select: #cccccc;

$small: 350px;
$xsmall: 400px;
$xsmall-landscape: 490px;
$medium: 600px;
$xmedium: 730px;
$large: 900px;
