html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul {
  margin: 0; }

html {
  font-size: 18px; }

.page-wrapper {
  background-image: url(../img/background.png); }

.page-wrapper .clearfix:after {
  content: "";
  display: table;
  clear: both; }

.page-wrapper img {
  width: 100%; }

.page-wrapper .header {
  min-height: 22vw;
  position: relative; }

.page-wrapper .header .headering {
  color: #ffffff;
  position: absolute;
  top: 10vw;
  font-size: 1.4rem;
  width: 100%;
  text-align: center; }

.page-wrapper .header .arrow-back {
  position: absolute;
  top: 11vw;
  left: 7vw; }

.page-wrapper .header img {
  width: 6vw; }

.page-wrapper .header .menu {
  position: absolute;
  top: 11vw;
  right: 7vw; }

.page-wrapper .content {
  border-radius: 345px/50px;
  background-color: #ffffff;
  overflow: hidden;
  min-height: 83vh; }

.page-wrapper .footer {
  min-height: 14vw; }

#landing-page .content {
  min-height: 75vw; }

#landing-page .logo {
  background-image: url(../img/logo.png);
  background-size: 85%;
  background-position-x: center;
  background-repeat: no-repeat;
  min-height: 26vw; }

#landing-page .link-wrapper {
  margin-bottom: 8vw; }

#landing-page .link-wrapper li {
  min-height: 20vw;
  position: relative;
  border-top: 1px solid #a7a9ac; }

#landing-page .link-wrapper .sign-up {
  color: #f0712c;
  position: absolute;
  bottom: 4vw;
  font-size: 1.45rem;
  width: 100%;
  text-align: center; }

#landing-page .link-wrapper .sign-in {
  color: #f0712c;
  position: absolute;
  bottom: 7vw;
  font-size: 1.05rem;
  width: 100%;
  text-align: center; }

#landing-page .footer {
  min-height: 24vw; }

#setup-page input:not([type]),
#setup-page input[type=text],
#setup-page input[type=password],
#setup-page input[type=email] {
  margin-bottom: 5px; }

#setup-page input[type=text]:focus,
#setup-page input[type=password]:focus,
#setup-page input[type=email]:focus {
  border-bottom: 1px solid #fb8c00;
  box-shadow: 0 1px 0 0 #fb8c00; }

#setup-page .input-field {
  margin-top: 0; }

#setup-page .input-field input {
  padding-left: 2.5rem; }

#setup-page .input-field .name-input {
  margin-top: 0.8rem; }

#setup-page .radio-wrapper {
  height: 3.3rem;
  padding-left: 1.6rem; }

#setup-page [type="radio"] + label:before,
#setup-page [type="radio"] + label:after {
  width: 2.5rem;
  height: 1.3rem;
  margin-top: 0; }

#setup-page .input-field [type="radio"]:not(:checked) + label,
#setup-page .input-field [type="radio"]:checked + label {
  padding: 0 0.66rem 0 0.65rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-right: 0.8rem; }

#setup-page .wrapper-form [type="radio"]:not(:checked) + label:before {
  border-radius: 0%;
  border: 1px solid #a7a9ac; }

#setup-page [type="radio"]:checked + label:after {
  border-radius: 0%;
  border: 1px solid #39b9de;
  background-color: #39b9de;
  z-index: -1;
  transform: scale(1.02); }

#setup-page [type="radio"]:checked + label {
  color: #ffffff;
  z-index: 1; }

#setup-page .add-border {
  border-bottom: 1px solid #a7a9ac;
  margin-top: 0; }

#setup-page input[type=email] {
  height: 2.8rem; }

#setup-page .input-field .input-password {
  border: none;
  margin-bottom: -0.5rem; }

#setup-page input[type=password] {
  height: 2.1rem; }

#setup-page .input-file-wrapper {
  height: 3rem;
  border-bottom: 1px solid #a7a9ac;
  color: #f0712c;
  margin-top: -0.35rem;
  margin-bottom: 0.5rem; }

#setup-page .input-file-wrapper > label {
  color: #f0712c;
  padding-left: 1.8rem; }

#setup-page [type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #39b9de;
  background-color: #39b9de; }

#setup-page .wrapper-checkbox {
  padding-left: 2.4rem; }

#setup-page .wrapper-checkbox label {
  font-size: 0.9rem; }

#setup-page .link-wrapper {
  padding-left: 2.4rem;
  margin-bottom: 0.5rem; }

#setup-page .link-wrapper a {
  color: #f0712c;
  font-size: 0.8rem; }

#setup-page .button-wrapper {
  height: 2.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center; }

#setup-page .button-wrapper .button {
  border: none;
  background-color: #ffffff;
  color: #f0712c; }

#setup-birthdate .content,
#setup-due-date .content {
  padding: 20vw 0 5vw; }

#setup-birthdate .wrapper-form-heading,
#setup-due-date .wrapper-form-heading {
  margin-bottom: 10vw;
  position: relative;
  padding: 0 10vw; }

#setup-birthdate .wrapper-form-heading h3,
#setup-due-date .wrapper-form-heading h3 {
  display: inline-block;
  font-size: 1rem;
  color: #39b9de; }

#setup-birthdate .wrapper-form-heading .button,
#setup-due-date .wrapper-form-heading .button {
  border: none;
  background-color: #ffffff;
  color: #f0712c;
  position: absolute;
  right: 10vw;
  font-size: 1rem;
  height: 100%; }

.calendar-wrapper {
  position: relative;
  min-height: 60vw;
  margin-bottom: 5vw;
  padding: 0 10vw; }

.calendar-wrapper .lines {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  position: absolute;
  top: 23vw;
  left: 0;
  width: 100%;
  height: 2rem; }

div.inside, div.outside {
  float: left; }

/* select month styles */
#drum_month {
  width: 7.5rem;
  height: 11rem; }

#drum_month .inner {
  top: 1rem;
  height: 8.7rem; }

#drum_month figure {
  height: 2.1rem; }

#drum_month .container {
  height: 2.1rem;
  top: 3.4rem; }

#drum_month figure {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.4rem; }

/* select day styles */
#drum_day {
  width: 2.2rem;
  height: 11rem; }

#drum_day .inner {
  top: 1rem;
  height: 8.7rem; }

#drum_day figure {
  height: 2.1rem; }

#drum_day .container {
  height: 2.1rem;
  top: 3.4rem; }

#drum_day figure {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem; }

/* select year styles */
#drum_year {
  width: 4rem;
  height: 11rem; }

#drum_year .inner {
  top: 1rem;
  height: 8.7rem; }

#drum_year figure {
  height: 2.1rem; }

#drum_year .container {
  height: 2.1rem;
  top: 3.4rem; }

#drum_year figure {
  text-align: right;
  font-size: 1.2rem;
  line-height: 1.4rem; }

#setup-birthdate .exclamation-mark {
  width: 100%;
  height: 3rem;
  background-image: url(../img/exclamation-mark.png);
  background-repeat: no-repeat;
  background-size: 13%;
  background-position: center; }

#setup-birthdate .message {
  font-size: 0.9rem;
  text-align: center;
  padding: 4vw 10vw; }

#setup-birthdate .message a {
  color: #f0712c;
  text-decoration: none; }

#profile-page .birthdate-wrapper {
  position: relative;
  min-height: 20vw;
  border-bottom: 1px solid #a7a9ac; }

#profile-page .wrapper-tick-icon {
  position: absolute;
  top: -9vw;
  left: 14vw;
  background-image: url(../img/tick.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20vw;
  height: 25vw; }

#profile-page .birthdate {
  position: absolute;
  top: 2vw;
  right: 14vw;
  width: 40vw;
  color: #585a5b;
  line-height: 1.2rem; }

#profile-page .birthdate span {
  font-weight: bold; }

#profile-page .progress-link {
  position: relative;
  min-height: 16.5vw;
  border-bottom: 1px solid #a7a9ac; }

#profile-page .progress-link a {
  color: #f0712c;
  position: absolute;
  bottom: 4vw;
  font-size: 1.05rem;
  width: 100%;
  text-align: center; }

#profile-page .milestone-wrapper {
  position: relative;
  min-height: 25vw; }

#profile-page .milestone-wrapper h5 {
  text-align: center;
  font-size: 1rem;
  color: #585a5b;
  margin: 4vw 0 1vw; }

#profile-page .milestone-wrapper a {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #f0712c;
  font-size: 1.05rem; }

#profile-progress .birthdate-wrapper {
  position: relative;
  min-height: 20vw;
  border-bottom: 1px solid #a7a9ac; }

#profile-progress .wrapper-daisy-icon {
  position: absolute;
  top: -20vw;
  left: 5vw;
  width: 34vw;
  height: 34vw;
  background-image: url(../img/daisy-icon.png);
  background-repeat: no-repeat;
  background-size: 100%; }

#profile-progress .birthdate {
  position: absolute;
  top: 2vw;
  right: 9vw;
  width: 50vw;
  color: #585a5b;
  line-height: 1.2rem;
  font-size: 0.9rem; }

#profile-progress .birthdate span {
  font-weight: bold; }

#profile-progress .period-time {
  display: flex;
  justify-content: space-between;
  padding: 5vw 5vw 0;
  font-size: 0.9rem; }

#profile-progress .period-time span {
  color: #3ccfd4; }

#profile-progress .period-time a {
  color: #585a5b; }

#profile-progress .period-time .active-link {
  color: #f0712c; }

#profile-progress .milestone-heading,
#profile-progress .vaccines-heading {
  position: relative;
  min-height: 13vw;
  font-size: 0.9rem; }

#profile-progress .milestone-heading h3,
#profile-progress .vaccines-heading h3 {
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 4.5vw;
  left: 5vw;
  font-size: 0.9rem; }

#profile-progress .milestone-heading a,
#profile-progress .vaccines-heading a {
  position: absolute;
  top: 3.3vw;
  right: 5vw;
  color: #f0712c; }

#profile-progress .milestone-list li,
#profile-progress .vaccines-list li {
  position: relative;
  min-height: 13vw;
  padding: 0 5vw; }

#profile-progress .milestone-list li:nth-child(odd),
#profile-progress .vaccines-list li:nth-child(odd) {
  background-color: #d6ecec; }

#profile-progress li {
  background-repeat: no-repeat;
  background-position-x: 5vw;
  background-position-y: center;
  background-size: 5.5%; }

#profile-progress .crossing-eyes {
  background-image: url(../img/crossing-eyes-icon.png); }

#profile-progress .covered-toy {
  background-image: url(../img/eyes-icon.png); }

#profile-progress .back-front {
  background-image: url(../img/message-icon.png); }

#profile-progress .milestone-list a,
#profile-progress .vaccines-list a {
  position: absolute;
  top: 3vw;
  left: 12vw;
  color: #f0712c;
  font-size: 0.9rem; }

#profile-progress .vaccines-list li:last-child {
  border-bottom: 1px solid #a7a9ac; }

#profile-progress .vaccines-list a {
  left: 5vw; }

#profile-progress .milestone-list span,
#profile-progress .vaccines-list span {
  position: absolute;
  right: 5vw;
  font-size: 1.5rem;
  color: #585a5b; }

#profile-progress .favorites-heading {
  position: relative;
  min-height: 13vw;
  font-size: 0.9rem; }

#profile-progress .favorites {
  margin-bottom: 15vw; }

#profile-progress .favorites-heading h3 {
  display: inline-block;
  position: absolute;
  top: 4.5vw;
  left: 5vw;
  font-size: 0.9rem;
  color: #3ccfd4; }

#profile-progress .favorites-heading a {
  position: absolute;
  top: 3vw;
  right: 5vw;
  color: #f0712c; }

#profile-progress .favorites-list a {
  padding: 0 5vw;
  color: #f0712c;
  font-size: 0.9rem; }

.our-status-wrapper .icon-status {
  height: 40vw;
  background-repeat: no-repeat;
  background-size: 35%;
  background-position-x: center;
  background-position-y: bottom; }

#status-great .icon-status {
  background-image: url(../img/great-daisy.png); }

#status-seek .icon-status {
  background-image: url(../img/seek-daisy.png); }

#status-test .icon-status {
  background-image: url(../img/tests-daisy.png); }

#status-great .description {
  padding: 5vw 6vw;
  margin-bottom: 5vw; }

#status-test .description,
#status-seek .description {
  padding: 5vw 8vw;
  margin-bottom: 10vw; }

.our-status-wrapper .description h2 {
  font-size: 1rem;
  text-align: center;
  color: #159fc0;
  margin-bottom: 4vw; }

.our-status-wrapper .description p {
  text-align: center;
  color: #585a5b; }

#status-great .description p,
#status-test .description p {
  margin-bottom: 12vw; }

#status-seek .description p {
  margin-bottom: 4vw; }

.our-status-wrapper .description span {
  font-weight: bold; }

.our-status-wrapper .description a {
  color: #f0712c; }

#status-great .wrapper-link,
#status-test .wrapper-link {
  position: relative;
  min-height: 10vw;
  margin-bottom: 10vw; }

#status-great .wrapper-link a,
#status-test .wrapper-link a {
  position: absolute;
  color: #f0712c;
  text-align: center;
  width: 100%; }

#baby-tracker .description {
  color: #585a5b;
  padding: 0 5vw;
  margin-bottom: 3vw;
  font-size: 0.9rem;
  text-align: center; }

#baby-tracker .list-tracking {
  margin-bottom: 8vw; }

#baby-tracker .list-tracking li {
  position: relative;
  min-height: 15vw;
  padding: 0 5vw;
  background-repeat: no-repeat;
  background-position-x: 15vw;
  background-position-y: center;
  background-size: 6.5%;
  border-bottom: 1px solid #a7a9ac; }

#baby-tracker .list-tracking li:last-child {
  border-bottom: none; }

#baby-tracker .list-tracking .keep-track {
  background-image: url(../img/crossing-eyes-icon.png); }

#baby-tracker .list-tracking .record-sleep {
  background-image: url(../img/eyes-icon.png); }

#baby-tracker .list-tracking .vacciness {
  background-image: url(../img/message-icon.png); }

#baby-tracker .list-tracking .diary {
  background-image: url(../img/arrow-icon-blue.png); }

#baby-tracker .list-tracking a {
  position: absolute;
  top: 3.2vw;
  left: 25vw;
  color: #f0712c;
  font-size: 1rem; }

.tracker-wrapper .content {
  padding: 5vw 0; }

.tracker-wrapper .list-menu {
  padding: 0 5vw; }

.tracker-wrapper .list-menu ul {
  border: 1px solid #a7a9ac;
  border-radius: 5px;
  overflow: hidden;
  margin: 6vw 0; }

.tracker-wrapper .list-menu li {
  float: left;
  padding: 0.1vw 4.2vw 1vw;
  border-right: 1px solid #a7a9ac; }

.tracker-wrapper .list-menu li:last-child {
  border: none; }

.tracker-wrapper .list-menu .active-link {
  background-color: #39b9de; }

.tracker-wrapper .list-menu a {
  font-size: 0.85rem;
  color: #f0712c; }

.tracker-wrapper .list-menu .active-link a {
  color: #ffffff; }

.tracker-wrapper .wrapper-menu-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vw;
  padding: 0 5vw; }

.tracker-wrapper .wrapper-menu-form a {
  color: #f0712c; }

.tracker-wrapper .button {
  border: none;
  background-color: #ffffff;
  color: #f0712c;
  padding: 0; }

.tracker-wrapper h2 {
  font-size: 1.2rem;
  text-align: center;
  color: #159fc0;
  margin-bottom: 4vw; }

.tracker-wrapper .wrapper-select {
  min-height: 60vw;
  margin-bottom: 5vw;
  position: relative; }

.tracker-wrapper .lines {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  position: absolute;
  top: 23vw;
  left: 0;
  width: 100%;
  height: 2rem; }

.tracker-wrapper .choose-time {
  position: relative;
  min-height: 60vw;
  margin-bottom: 5vw;
  display: flex;
  justify-content: center; }

.wrapper-tracker-2 .change-date {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw; }

.wrapper-tracker-2 .prev,
.wrapper-tracker-2 .next {
  width: 12vw; }

.wrapper-tracker-2 .prev a {
  color: #f0712c;
  font-size: 0.9rem; }

.wrapper-tracker-2 .prev a:before {
  content: "";
  background-image: url(../img/prev-arrow.png);
  background-repeat: no-repeat;
  background-size: 85%;
  height: 8vw;
  float: left;
  position: relative;
  top: 8px;
  display: inline-block;
  width: 4vw; }

.wrapper-tracker-2 .next a {
  color: #585a5b;
  font-size: 0.9rem; }

.wrapper-tracker-2 .next a:after {
  content: "";
  background-image: url(../img/next-arrow.png);
  background-repeat: no-repeat;
  background-size: 85%;
  height: 8vw;
  float: right;
  position: relative;
  top: 8px;
  display: inline-block;
  width: 4vw; }

.wrapper-tracker-2 .current-date h3 {
  font-size: 1rem;
  position: relative;
  top: 1vw; }

.wrapper-tracker-2 .add-notes {
  width: 8vw;
  height: 8vw;
  background-image: url(../img/plus.png);
  background-size: 100%;
  background-repeat: no-repeat; }

.wrapper-tracker-2 .list-notes {
  padding: 0 5vw; }

.wrapper-tracker-2 .list-notes li {
  padding: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #585a5b; }

.wrapper-tracker-2 .list-notes li:nth-child(odd) {
  background-color: #D2D8D8; }

.wrapper-tracker-2 .list-notes li:first-child {
  background-color: #d6ecec; }

.wrapper-tracker-2 .list-notes span:last-child {
  font-size: 0.8rem; }

#drum_method {
  width: 100%;
  height: 11rem; }

#drum_method .inner {
  top: 1rem;
  height: 8.7rem; }

#drum_method .container, #drum_method figure {
  height: 2.1rem; }

#drum_method .container {
  top: 3.4rem; }

#drum_method figure {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem; }

#drum_hour {
  width: 2rem;
  height: 11rem; }

#drum_hour .inner {
  top: 1rem;
  height: 8.7rem; }

#drum_hour .container, #drum_hour figure {
  height: 2.1rem; }

#drum_hour .container {
  top: 3.4rem; }

#drum_hour figure {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem; }

#drum_min {
  width: 2rem;
  height: 11rem; }

#drum_min .inner {
  top: 1rem;
  height: 8.7rem; }

#drum_min .container, #drum_min figure {
  height: 2.1rem; }

#drum_min .container {
  top: 3.4rem; }

#drum_min figure {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem; }

#drum_time-of-day {
  width: 3rem;
  height: 11rem; }

#drum_time-of-day .inner {
  top: 1rem;
  height: 8.7rem; }

#drum_time-of-day .container, #drum_time-of-day figure {
  height: 2.1rem; }

#drum_time-of-day .container {
  top: 3.4rem; }

#drum_time-of-day figure {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem; }

#drum_sleep {
  width: 100%;
  height: 11rem; }

#drum_sleep .inner {
  top: 1rem;
  height: 8.7rem; }

#drum_sleep .container, #drum_sleep figure {
  height: 2.1rem; }

#drum_sleep .container {
  top: 3.4rem; }

#drum_sleep figure {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4rem; }

@media (min-width: 350px) {
  html {
    font-size: 21px; }

  #setup-page [type="radio"] + label:before,
  #setup-page [type="radio"] + label:after {
    width: 2.4rem;
    height: 1.2rem; }

  #baby-tracker .list-tracking li {
    background-size: 6.5%; } }
@media (min-width: 400px) and (max-width: 599px) {
  html {
    font-size: 24px; }

  #drum_month .inner,
  #drum_day .inner,
  #drum_year .inner {
    top: 1rem;
    height: 8.5rem; }

  #setup-page .input-field [type="radio"]:not(:checked) + label,
  #setup-page .input-field [type="radio"]:checked + label {
    padding: 0.11rem 0.66rem 0 0.65rem; }

  #setup-page [type="radio"] + label:before,
  #setup-page [type="radio"] + label:after {
    width: 2.5rem;
    height: 1.3rem; }

  .calendar-wrapper .lines,
  .tracker-wrapper .lines {
    top: 23.5vw; }

  #profile-progress .milestone-list a,
  #profile-progress .vaccines-list a {
    top: 2.6vw; } }
@media (min-width: 400px) and (max-width: 489px) and (orientation: landscape) {
  #profile-page .tick {
    font-size: 3rem;
    padding-left: 2.2vw;
    line-height: 3.5rem; }

  .tracker-wrapper .list-menu li {
    padding: 0.5vw 5.2vw; }

  .calendar-wrapper .lines,
  .tracker-wrapper .lines {
    top: 20.5vw; } }
@media (min-width: 490px) and (orientation: landscape) {
  html {
    font-size: 28px; }

  #setup-page [type="radio"] + label:before,
  #setup-page [type="radio"] + label:after {
    height: 1.1rem; }

  #profile-page .tick {
    font-size: 3rem;
    padding-left: 2.2vw;
    line-height: 3.5rem; }

  .calendar-wrapper .lines,
  .tracker-wrapper .lines {
    top: 20vw; }

  #profile-progress li {
    background-size: 4.5%; }

  #profile-progress .milestone-list a,
  #profile-progress .vaccines-list a {
    top: 3.7vw; }

  #profile-progress .milestone-list span,
  #profile-progress .vaccines-list span {
    top: 0.7vw; }

  #baby-tracker .list-tracking a {
    top: 3.6vw;
    font-size: 1.1rem; }

  .tracker-wrapper .list-menu li {
    padding: 0.5vw 5.2vw; } }
@media (min-width: 600px) and (max-width: 729px) {
  html {
    font-size: 32px; }

  #setup-page .input-field [type="radio"]:not(:checked) + label,
  #setup-page .input-field [type="radio"]:checked + label {
    padding: 0.2rem 0.66rem 0 0.55rem; }

  #setup-page [type="radio"] + label:before,
  #setup-page [type="radio"] + label:after {
    height: 1.1rem; }

  #profile-page .wrapper-tick-icon {
    padding: 1.5vw; }

  #profile-page .tick {
    font-size: 2.7rem;
    padding-left: 3vw;
    line-height: 3.5rem; }

  #baby-tracker .list-tracking a {
    top: 3.5vw;
    font-size: 1.1rem; }

  .tracker-wrapper .list-menu li {
    padding: 0.5vw 5.2vw; } }
@media (min-width: 730px) {
  html {
    font-size: 38px; }

  #drum_month {
    width: 9rem; }

  #setup-page .input-field [type="radio"]:not(:checked) + label,
  #setup-page .input-field [type="radio"]:checked + label {
    padding: 0.25rem 0.66rem 0 0.45rem; }

  #setup-page [type="checkbox"].filled-in:checked + label:after,
  #setup-page [type="checkbox"].filled-in:not(:checked) + label:after {
    width: 0.7rem;
    height: 0.7rem; }

  #setup-page [type="checkbox"].filled-in:checked + label:before {
    width: 0.3rem;
    height: 0.5rem; }

  .calendar-wrapper .lines,
  .tracker-wrapper .lines {
    top: 20vw; }

  #profile-page .wrapper-tick-icon {
    padding: 1.5vw; }

  #profile-page .tick {
    font-size: 2.7rem;
    padding-left: 3vw;
    line-height: 3.5rem; }

  #profile-progress li {
    background-size: 4.5%; }

  #profile-progress .milestone-list a,
  #profile-progress .vaccines-list a {
    top: 3.3vw; }

  #profile-progress .milestone-list span,
  #profile-progress .vaccines-list span {
    top: 0.5vw; }

  #baby-tracker .list-tracking a {
    top: 3.6vw; }

  .tracker-wrapper .list-menu li {
    padding: 0.5vw 5.1vw; }

  .tracker-wrapper .list-menu ul {
    border-radius: 8px; } }
@media (min-width: 730px) and (max-width: 899px) and (orientation: landscape) {
  .calendar-wrapper .lines,
  .tracker-wrapper .lines {
    top: 21vw; } }
@media (min-width: 900px) {
  .header .headering {
    font-size: 1.6rem; }

  #landing-page .link-wrapper .sign-up {
    font-size: 1.9rem; }

  #setup-birthdate .exclamation-mark {
    height: 4rem; }

  .calendar-wrapper {
    min-height: 55vw;
    margin-bottom: 0; }

  #drum_year {
    width: 5rem; }

  #drum_day {
    width: 7rem; }

  .calendar-wrapper .lines,
  .tracker-wrapper .lines {
    top: 15vw; }

  #profile-page .tick {
    font-size: 4rem;
    padding-left: 2.5vw;
    line-height: 4.5rem; }

  #profile-progress .milestone-list a,
  #profile-progress .vaccines-list a {
    top: 4vw; }

  #profile-progress .milestone-list span,
  #profile-progress .vaccines-list span {
    top: 2vw; }

  #baby-tracker .list-tracking li {
    min-height: 13vw;
    background-position-x: 15vw;
    background-size: 4.5%; }

  .tracker-wrapper .list-menu li {
    padding: 0.5vw 6.7vw; } }

/*# sourceMappingURL=style.css.map */
